spring:
  config:
    use-legacy-processing: true
  profiles:
    include:
      - flyway-dev
      - mysql-dev
      - batch-dev
      - security-dev
      - client-jsoup-dev
      - client-thread-dev
      - client-wifi
